<footer>
      <p><small>This project is maintained by <a href="https://github.com/jaredhowland">Jared Howland</a></small></p>
      <ul>
        <li class="download"><a class="buttons" href="https://github.com/jaredhowland/rhythm/zipball/master">Download ZIP</a></li>
        <li class="download"><a class="buttons" href="https://github.com/jaredhowland/rhythm/tarball/master">Download TAR</a></li>
        <li><a class="buttons github" href="https://github.com/jaredhowland/rhythm">View On GitHub</a></li>
      </ul>
    </footer>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ site.github.url }}/assets/js/main.min.js"></script>

  </body>
</html>
