<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Rhythm</title>
  <meta name="keywords" content="vertical rhythm, modular scale, responsive, sass, scss">
  <meta name="description" content="Rhythm is a small set of Sass files built to assist in creating mobile-first, responsive websites with vertical rhythm using modular scales.">
  <meta name="author" content="Jared Howland">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/styles/main.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700|Merriweather+Sans:700' rel='stylesheet' type='text/css'>
</head>

<body>
