$breakpoints: (
  bp-0: (
    breakpoint: 0px, // Mobile first
    font-size: 14px 16px,
    line-height: 1.5,
    modular-scale: golden
  ),
  bp-1: (
    breakpoint: 480px, // ~ Extra small screen up
    font-size: 16px 18px,
    line-height: 1.5,
    modular-scale: golden
  ),
  bp-2: (
    breakpoint: 768px, // ~ Small screen/tablet up
    font-size: 18px 20px,
    modular-scale: golden // no line-height specified so scale is used
  )
);

$serif-font-family: '"Merriweather", Georgia, serif';
$sans-serif-font-family: '"Merriweather Sans", Helvetica, sans-serif';
