@import "normalize/normalize";
@import "functions";
@import "variables";
@import "mixins";

$base-font-size: $font-rem;
$base-line-height: $line-height;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
