// Raises a number to the nth power
@function pow($base, $exponent) {
  $raised: 1;
  @if $exponent >= 0 {
    @for $i from 1 through $exponent {
      $raised: $raised * $base;
    }
  } @else {
    @for $i from $exponent to 0 {
      $raised: $raised / $base;
    }
  }
  @return $raised;
}
