////
/// Math helper functions
/// @author Jared Howland
/// @group helpers
////

/// Raises a number to the nth power
///
/// Used when generating heading sizes from a modular scale
/// @param {Number} $base - Base number
/// @param {Number} $exponent - Power to raise base number to
/// @return {Number} Result of a base number raised to given power
/// @example scss - 2^4
///   _pow(2, 4)
///   // -> 16
@function _pow($base, $exponent) {
  $raised: 1;
  @if $exponent >= 0 {
    @for $i from 1 through $exponent {
      $raised: $raised * $base;
    }
  } @else {
    @for $i from $exponent to 0 {
      $raised: $raised / $base;
    }
  }
  @return $raised;
}

// _decimal.scss | MIT License | gist.github.com/terkel/4373420
// Round a number to specified digits.
// Not needed but placing here in case it becomes useful
// https://gist.github.com/jaredhowland/ad52a2f099ac0e9c21b3a2dc4590c303
