html {
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

body {
  font-family: unquote(map-get($body-type, font-family));
  font-size: #{map-get($root-sizes, root-size-4) / 16}rem;
  line-height: $modular-scale;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $link-hover-color;
    background-color: $link-background-color;
    transition: background-color .4s, color .4s;
  }
}
